

<h3><i class="fa-brands fa-youtube"></i> UPLOAD STUDIO</h3>

<div class="row">

    <form action="/videos/upload" method="POST" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="video[title]" placeholder="TITLE">
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="video[status]">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input id="tags-input" type="text" class="form-control" name="video[tags]" data-role="tagsinput" placeholder="TAGS" />
        </div>



        <div class="row">
            <div class="input-field">
                <h5>DESCRIPTION</h5>
                <textarea id="body" name="video[description]"></textarea>
            </div>
        </div>
                {{!-- <input type="file" class="form-control" name="file" required id="" /> --}}
        <div class="file-field input-field">
            <div class="btn btn-large">
                <span><i class="fa-regular fa-folder-open"></i></span>
                <input type="file" name="file" required>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>


        <div class="row col s2">
            <button type="submit" class="btn green btn-floating btn-large">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </button>
            <a href="/" class="btn orange btn-floating btn-large"><i class="fa-solid fa-ban"></i></a>
        </div>
    </form>
</div>

{{#section 'script'}}
<script src="https://cdn.tiny.cloud/1/xcgqiqnptaji1szgot4m4nros0fr304ypd7ppaw2pfxdk2bf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: '#body',
        skin: 'naked',
        icons: 'small',
        toolbar_location: 'bottom',
        plugins: 'lists code table codesample link',
        toolbar: 'blocks | fontfamily bold italic underline strikethrough bullist link',
        menubar: false,
        statusbar: false
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/scripts/tags-script.js"></script>

{{/section}}



