<link rel="stylesheet" href="/styles/studio-style.css">
<div class="container">
  <nav>Navbar</nav>
  <main>{{{body}}}</main>
    <div id="taskbar">Task Bar</div>
    <div id="sidebar">Sidebar</div>
    <div id="toolbar">Toolbar</div>
    <div id="bin">bin</div>

 


  {{!-- <div id="content1">Content1</div>
  <div id="content2">Content2</div>
  <div id="content3">Content3</div> --}}
  <footer>Footer</footer>
</div>