<link rel="stylesheet" href="/styles/navbar-style.css">
<nav class="custom-nav">
    <div class="nav-wrapper navy container">
        
        <a href="#!" class="brand-logo center bold"><img src="/icons/factory-06.png" alt="" width="50" height="50"> ies studio</a>
                    
                    {{!-- {{#if user}}
       
                             
                                <div class="chip">
                                 
                                    <img src="{{{user.image}}}" alt="">
                                    <a href="#">Industrial Engineer {{user.firstName}}</a>
                                </div>
                                
                                
                                      
                    {{/if}} --}}
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>

    </div>
</nav>