<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        body{
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Youtube Uploading API Project</h1>
    <br>
    <ul>
        <li><h3><a href="/videos">Check All Videos</a></h3></li>
        <li><h3><a href="/uploadvideo">Upload Video Form</a></h3></li>
    </ul> 
</body>
</html>