<link rel="stylesheet" href="/styles/layouts-style.css">

<h3>  industrial-engineering-solutions</h3>
<div class="section"  >
    <img src="/icons/factory-06.png" alt="" width="300" height="300">
    <h5 class="lead"> study all your industrial processes and activities in detials,
        <br>
        industrious solutions for operational excellence seekers
    </h5>

</div>
<div class="divider"></div>

<div class="section login-button-grid">


    <a href="{{url}}" >
        <table>
            <tr>
                <th><img src="/icons/google.png" alt="" width="35" height="35"></th>
                <th><p>GOOGLE LOGIN</p></th>
            </tr>
        </table>
    </a>


    <a href="#" class="log-button">
                <table>
            <tr>
                <th><img src="/icons/microsoft.png" alt="" width="35" height="35"></th>
                <th><p>MICROSOFT LOGIN</p></th>
            </tr>
        </table>

    </a>
</div>