<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit A New Video</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body{
        font-family: 'Roboto', sans-serif;
    }
</style>
<body>
    <div class="container">
        <h1>Upload a New Video</h1>
        <form action="/uploadvideo" method="POST">
            <label for="title"><strong>Title</strong></label>
            <br>
            <input type="text" name="video[title]" id="title" placeholder="Type down your video title..." required>
            <br>
            <br>
            <label for="url"><strong>Url</strong></label>
            <br>
            <input type="text" name="video[youtube_video_url]" id="url" placeholder="Video Url..." required>
            <br>
            <br>
    
            
            <label for="description"><strong> Description</strong></label>
            <br>

            <textarea name="video[description]" id="description" cols="30" rows="20" placeholder="Video Description"></textarea>
            <br>
            <br>
            <button><strong> Upload</strong></button>
        </form>
        <a href="/"><Strong>Home</Strong></a>

    </div>

    
</body>
</html>