body {
    background: white;
}

.custom-card {
    z-index: 0;
    color: #f1f1f1;
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    position: fixed;
    right: 10px;
}

.custom-card-wide {
    color: #f1f1f1;
    width: 800px !important;
    /* align-self: center !important;
    top: 50%;
    left: 50%; */
}

.white-button {
    color: aliceblue;
    font-size: 32px;
}

.orange-button {
    color: rgb(237, 225, 9);
}


.green-button {
    color: rgb(31, 204, 8);
    font-size: 32px;
}

.custom-btn{
    background-color: transparent;
    border: none;
    color: rgb(83, 82, 82);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
    color: white;}
    
.close-btn {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 32px;
            color: crimson;
        }
    
.collapsible-card {
            display: none;
            height: fit-content !important;
        }
    
    
.collapsible-card-2 {
            display: none;
            height: fit-content !important;
        }

.studio-container{
    display: grid;
    align-content: flex-end; 

    

}

.card{
    align-content: flex-start !important;
}
.special-row{
    z-index: 100 !important;
}