@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');



/* *,*::after,
*::before {
    box-sizing: border-box;
} */

*, *::before, *::after {
    box-sizing: border-box;
  }
  

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right,#f2f2f2, #f3f3f3);
}
.studio-container{
    width: fit-content;
    
}
.studio-header {
    position: relative;
    margin-top: -50px;
    top: 0px;
    right: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 15rem));
    grid-template-rows: auto;

}

.studio-header h6 {
    font-weight: bold;
}

.studio-grid {
    width: 90rem;
    display: grid;

    grid-template-columns: 20rem 70rem; 
    grid-template-rows: repeat(2, minmax(7rem, auto));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    outline: none;
    background-color: rgb(245, 245, 240);
    
}
.video-panel{
    background-color: #ffff;

}
.video-panel  i{
    color:  #4e4e4e;
}


.task-panel{
    background-color: rgb(255, 255, 255);
}
.studio-playlist{
    background-color: rgb(255, 255, 255);
}


.video-control-panel{
    background-color: #fff;
}

.control-panel-buttons{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        background-color: #f3f3f3;
    grid-template-columns: repeat(2, minmax(3rem, auto)); 
    margin: 10px;
    padding: 5px;
}

.control-panel-buttons i{
color:#4e4e4e; 
}
.left-container-aligned a{
    margin-left: 15px;
}

.right-container-aligned {
    width: fit-content;
}
.right-container-aligned a{
    margin-left: 15px;
    text-align: end;
}


.studio-tools{
    width: fit-content;
    height: fit-content;
    position: relative;

}

.left-container-aligned{
    position: relative;
    left: 5px;
}

.left-container-aligned .add-task i{
    color: #009246;

}

.tasks-disposal-panel{
    background-color: rgb(255, 255, 255);

}

.containers-header-bar {
    width: fit-content;
    margin-top: 0px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    left: 65rem;
    top: 1rem;

}
.taskpanel-from-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    padding: 10px;
    align-content: center;
    text-align: center;
    align-items: center;
}
.task-form-panel {
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

    border: 1px #f2f2f2 solid;
    border-radius: 5px;
    background-color: #f3f3f3;

    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.custom-icons{
    font-size: 28px;
    color: aliceblue;
}
.close-btn-panel{
    position: relative;
    top:15px; 
    left: 45%;
    font-size: 24px;
    color: #CE2B37;
}
.task-form-container{
    padding: 40px;
}
.task-form-container-t{
    padding: 20px;
    align-items: center;
    appearance: none;

}
.task-form-container-t input{
    width: 95% !important;
}
.task-form-container-t form{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.green-icons{
    color: #009246 !important; 
}

.red-icons{
    color: #CE2B37 !important;
}

.span-two {
    grid-column: span 2;
}
#myFlashCardSecond{
    display: none;

}
#myFlashCard {
    display: none;
}

.form-select{
    width: 95% !important;
}


/* THIS IS THE DRAG AND DROP STYLE */
