@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');



/* *,*::after,
*::before {
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.video-container {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.taskpanel-from-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    padding: 10px;
    align-content: center;
    text-align: center;
    align-items: center;
}

.span-two {
    grid-column: span 3;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.material-symbols-outlined {
    font-size: 60px;
    color: rgb(14, 14, 14);
}

.play .material-symbols-outlined {
    font-size: 60px;
    color: rgb(64, 197, 11);
}

.pause .material-symbols-outlined {
    font-size: 60px;
    color: rgb(219, 181, 10);
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    z-index: 100;
}

.taskpanel-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: black;
    color: white;
}

.taskpanel-form-container-header {
    display: flex;
    flex-direction: row;

}


.taskpanel-form-container .btn-success {
    background-color: rgba(6, 179, 6, 0.7);
    border: none;
    width: 50%;
    margin-bottom: 10px;

}

.taskpanel-form-container .btn-danger {
    background-color: rgba(223, 7, 25, 0.7);
    border: none;
    width: 25%;
    margin-bottom: 10px;
}

.taskpanel-form-container .cancel {
    background-color: red;
}

.taskpanel-form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.btn-close {
    background-color: crimson;
    position: absolute;
    top: 5px;
    right: 5px;
}